body {
  background: #000 !important;
  margin: 0px;
  padding: 0px;

overflow-x:none ;

}
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(10, 10, 10) 50%, rgb(66, 66, 65) 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(25%);
  }
}
.nav {
  height: 60px;
  width: 100%;
  background: rgba(0, 0, 0, 0.95);
  backdrop-filter: saturate(180%) blur(3px);
  position: relative;
  box-shadow:
  0 6.7px 5.3px rgba(0, 0, 0, 0.12),
  0 22.3px 17.9px rgba(0, 0, 0, 0.08),
  0 100px 80px rgba(0, 0, 0, 0.04);
  z-index: 20;
}
.logo{
  width: 100%;
  height: 40px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 20px;
  padding-left: 27rem;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

/* .nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
} */

.nav > #nav-check {
  display: none;
}

@media (max-width:1200px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #151515;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    padding-left: 0;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
   .nav > .nav-links > a:hover {
  color: rgba(103, 101, 101, 0.3);
}

}
 .nav .tubelight {
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translateX(-40%);
  width: 130px;
  height: 4px;
  border-radius: 3px;
  background: #eeb50c;
  transition: left 400ms ease;
  z-index: 10;
}

.nav .light-ray {
  position: relative;
  left: -30%;
  top: 5px;
  width: 160%;
  height: 60px;
  background: linear-gradient(to bottom,
          rgba(241, 190, 5, 0.3) -50%,
          rgba(255, 255, 255, 0) 90%);
  clip-path: polygon(5% 100%, 25% 0px, 75% 0px, 95% 100%);
  pointer-events: none;
} 
.nav  a {
color: #eeb50c;
/* width: 100%;
height: 100%; */
opacity: 0.6;
transition: opacity 100ms ease;

}

.active  {
  opacity: 1 !important;
  color: #fdfdfb !important;
  
  } 
  .blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
    
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
     
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }


img {
  width: 100%;
  height: auto;
  max-height: 100%;
}

h3 {
  font-size: 40px;
  margin-top: 0 ;
  font-weight: 300;
}

/*** The timeline styles and structure ***/
.tl-wrapper {
  /* margin-top: 0vh; */
  background: black;
  min-height: 1px;
  position: relative;
}

.timeline {
  position: relative;
  width: 100%;
  min-height: 1px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.timeline li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

/*** The items ***/
.tl-item {
  visibility: hidden;
  overflow: hidden;
  z-index: 0;
}
.tl-item .tl-copy {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-transform: translate3d(60%, 0, 0);
          transform: translate3d(60%, 0, 0);
}
.tl-item .tl-image {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

.tl-item.tl-active {
  visibility: visible;
  z-index: 10;
}
.tl-item.tl-active .tl-copy {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.tl-item.tl-active .tl-image {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.tl-image {
  float: left;
  width: 70%;
}
.tl-image img {
  display: block;
}

.tl-copy {
  width: 30% ;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  padding: 1rem;
  background: #f6b40d;
  color: #fff;
}
@media (max-width:400px){
  .tl-copy{
    visibility: hidden;
    display: none;
  }
  .t1-image{
    visibility: hidden;
    display: none;
  }
  /* .t1-image{
    
  } */

}
.tl-copy:after {
  content: "";
  position: absolute;
  bottom: 30px;
  left: -19px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 21px 20px 21px 0;
  border-color: transparent #f6b40d transparent transparent;
}

/*** The arrows for the items ***/
.tl-items-arrow-left,
.tl-items-arrow-right {
  position: absolute;
  top: 50%;
  width: 22px;
  height: 40px;
  top: 50%;
  margin-top: -40px;
  z-index: 100;
}
.tl-items-arrow-left:before, .tl-items-arrow-left:after,
.tl-items-arrow-right:before,
.tl-items-arrow-right:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 28px;
  height: 2px;
  background: black;
}

.tl-items-arrow-left {
  left: 0;
}
.tl-items-arrow-left:before {
  top: 0;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.tl-items-arrow-left:after {
  bottom: 0;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.tl-items-arrow-right {
  right: 0;
}
.tl-items-arrow-right:before {
  top: 0;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.tl-items-arrow-right:after {
  bottom: 0;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*** The nav's styles ***/
.tl-nav-wrapper {
  position: absolute;
  bottom: 10px;
  left: 0;
  margin: 0;
  padding: 16px 0 0 0;
  border-top: 1px solid #f6b40d;
  overflow-x: hidden;
  width: 100%;
}
.tl-nav-wrapper:before, .tl-nav-wrapper:after {
  content: "";
  width: 38px;
  height: 86px;
  position: absolute;
  top: 17px;
  background: black;
  z-index: 50;
}
.tl-nav-wrapper:before {
  left: 0;
}
.tl-nav-wrapper:after {
  right: 0;
}

.no-csstransforms .tl-nav-wrapper {
  overflow-x: auto;
}

.tl-nav {
  list-style: none;
  margin: 0;
  padding-top: 16px;
  border-top: 1px dashed #f6b40d;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.tl-nav li {
  width: 70px;
  height: 70px;
  position: relative;
  float: left;
  cursor: pointer;
  margin-right: 1rem;
  font-size: 12px;
  text-align: center;
}
.tl-nav li div {
  width: 34px;
  height: 34px;
  margin: auto;
  background: #f6b40d;
  color: #fff;
  padding-top: 9px;
  border-radius: 1000px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}
.tl-nav li:hover div, .tl-nav li.tl-active div {
  width: 70px;
  height: 70px;
  background: transparent;
  color: #f6b40d;
  border: 1px solid #f6b40d;
  font-size: 24px;
  padding-top: 19px;
}
.tl-nav li:before {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -2px;
  background: #f6b40d;
  border-radius: 1000px;
}

/*** The nav's nav styles ***/
.tl-nav-arrow-left,
.tl-nav-arrow-right {
  position: absolute;
  width: 12px;
  height: 20px;
  top: 50%;
  z-index: 100;
}
.tl-nav-arrow-left:before, .tl-nav-arrow-left:after,
.tl-nav-arrow-right:before,
.tl-nav-arrow-right:after {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 2px;
  background: #f6b40d;
}

.tl-nav-arrow-left {
  left: 9px;
}
.tl-nav-arrow-left:before {
  top: 0;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.tl-nav-arrow-left:after {
  bottom: 0;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.tl-nav-arrow-right {
  right: 9px;
}
.tl-nav-arrow-right:before {
  top: 0;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.tl-nav-arrow-right:after {
  bottom: 0;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.no-csstransforms .tl-nav-arrow-left,
.no-csstransforms .tl-nav-arrow-right {
  display: none;
}

/* .cont{
  overflow-y:hidden !important;
} */

/* footer */
.deneb_footer .widget_wrapper {
  background-color: #000;
 color: #edecf0;
  padding-top: 160px;
  padding-bottom: 70px;
}
@media (max-width: 767px) {
  .deneb_footer .widget_wrapper .widget {
      margin-bottom: 40px;
  }
}
.deneb_footer .widget_wrapper .widget .widget_title {
  margin-bottom: 30px;
}
.deneb_footer .widget_wrapper .widget .widget_title h4 {
  font-weight: bold;
}
.deneb_footer .widget_wrapper .widget .widget_title h4:after {
  content: "";
  display: block;
  max-width: 100%;
  height: 2px;
  margin-top: 5px;
}
.deneb_footer .widget_wrapper .widegt_about p {
  margin-bottom: 20px;
}
.deneb_footer .widget_wrapper .widegt_about .social li {
  display: inline-block;
  margin-right: 10px;
}
.deneb_footer .widget_wrapper .widegt_about .social li a {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: #f9e6d4;
  color: #fba543;
  font-size: 18px;
  -webkit-transition: all all 0.5s ease-out 0s;
  -moz-transition: all all 0.5s ease-out 0s;
  -ms-transition: all all 0.5s ease-out 0s;
  -o-transition: all all 0.5s ease-out 0s;
  transition: all all 0.5s ease-out 0s;
}
.deneb_footer .widget_wrapper .widegt_about .social li a:hover,
.deneb_footer .widget_wrapper .widegt_about .social li a:focus {
  background-image: -moz-linear-gradient(0deg, #ffbd27 0%, #feb000 100%);
  background-image: -webkit-linear-gradient(0deg, #ffbd27 0%, #feb000 100%);
  background-image: -ms-linear-gradient(0deg, #ffbd27 0%, #feb000 100%);
  color: #fff;
  box-shadow: 2.5px 4.33px 15px 0px rgba(254, 176, 0, 0.4);
}
.deneb_footer .widget_wrapper .widget_link ul li {
  margin-bottom: 5px;
}
.deneb_footer .widget_wrapper .widget_link ul li a {
  text-transform: capitalize;
  color: white;
  text-decoration: none;
}
.deneb_footer .widget_wrapper .widget_link ul li a:hover,
.deneb_footer .widget_wrapper .widget_link ul li a:focus {
  color: #feb000;
}
.deneb_footer .widget_wrapper .widget_contact .contact_info .single_info {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.deneb_footer .widget_wrapper .widget_contact .contact_info .single_info .icon {
  font-size: 18px;
  color: #feb000;
  margin-right: 10px;
}
.deneb_footer .widget_wrapper .widget_contact .contact_info .single_info .info p a {
  color: white;
  text-decoration: none;
}
.deneb_footer .widget_wrapper .widget_contact .contact_info .single_info .info p a:hover {
  color: rgb(235, 194, 10);
 
}
.deneb_footer .widget_wrapper .widget_contact .contact_info .single_info .info p span {
  display: block;
}

.deneb_footer .copyright_area {
  background: #292929;
  padding: 5px 0;
  margin: 0%;
}
.deneb_footer .copyright_area .copyright_text {
  text-align: center;
}
.deneb_footer .copyright_area .copyright_text p {
  color: #dedfe1;
}
.deneb_footer .copyright_area .copyright_text p span {
  color: #feb000;
}
.deneb_cta .cta_wrapper {
  padding: 45px 50px 42px;
  max-width: 970px;
  border-radius: 15px;
  margin: auto;
  margin-bottom: -135px;
  position: relative;
  background-image: -moz-linear-gradient(0deg, #ffbd27 0%, #feb000 100%);
  background-image: -webkit-linear-gradient(0deg, #ffbd27 0%, #feb000 100%);
  background-image: -ms-linear-gradient(0deg, #ffbd27 0%, #feb000 100%);
  box-shadow: 2.5px 4.33px 15px 0px rgba(254, 176, 0, 0.4);
  z-index: 1;
}
.deneb_cta .cta_wrapper:after {
  content: "";
  background-position: bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.deneb_cta .cta_wrapper .cta_content h3 {
  color: #fff;
  font-weight: bold;
}
@media (max-width: 767px) {
  .deneb_cta .cta_wrapper .cta_content h3 {
      font-size: 24px;
  }
}
.deneb_cta .cta_wrapper .cta_content h3:after {
  content: "";
  display: block;
  max-width: 110px;
  height: 2px;
  margin-top: 13px;
  margin-bottom: 24px;
}
.deneb_cta .cta_wrapper .cta_content p {
  color: #fff;
}
.deneb_cta .cta_wrapper .button_box {
  float: right;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .deneb_cta .cta_wrapper .button_box {
      float: none;
      text-align: left;
      margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .deneb_cta .cta_wrapper .button_box {
      float: none;
      text-align: center;
      margin-top: 30px;
  }
}
.deneb_cta .cta_wrapper .button_box .deneb_btn {
  background: #fff;
  color: #011a3e;
}
.deneb_cta .cta_wrapper .button_box .deneb_btn:hover,
.deneb_cta .cta_wrapper .button_box .deneb_btn:focus {
  box-shadow: 2.5px 4.33px 15px 0px rgba(0, 0, 0, 0.15);
}
.foot{
margin-top: 20px;
  width: 100% !important;

}